.home-logo{
    padding-left: 20px;
}

.big-photo{
    background-image: url(banner.jpg);
    height: 700px;
    background-size: cover;
    background-position: 50% 50%;
    color: rgb(219, 219, 219);
}

h1, h2, p, a{
    font-family: 'Exo 2', sans-serif;
}

img{
    width: 100%;
}

.hut{
    background-image:linear-gradient(rgba(128, 128, 128, 0.493), rgba(0, 0, 0, 0.513)), url(the-hut-bg.png);
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 50px 0;
    color: whitesmoke;
}

.tree{
    background-image:linear-gradient(rgba(128, 128, 128, 0.493), rgba(0, 0, 0, 0.513)), url(the-area.png);
    height: 300px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 50px 0;
    color: whitesmoke;
}

.footer{
    background-color: rgb(76, 78, 85);
    color: honeydew;
    padding: 40px;
}

.col-xl-2{
    cursor: pointer;
}

.col-xl-2:hover{
    text-decoration: underline;
}

html{
    scroll-behavior: smooth;
}